@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: transform 350ms ease, opacity 250ms ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(6px);
}
.list-leave-active {
  position: absolute;
}


